@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Anybody", sans-serif;
    background-color: #dfdfd8;
}
.container{
    width: min(90% ,1120px);
    /* background-color: aqua; */
    margin-inline: auto;
}
img{
    width:100%;
}
header{
    background-color: #fafaf6;
    height: 4.5rem;
    position: sticky;
    width:100%;
    top: 0;
}
.desktop-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu-link{
    display: flex;
    gap: 20px;
}
.menu-link li {
    list-style: none;
}
.menu-link li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color:#2b2b2b;
}
.menu-link li a:hover{
    color:#5f6ad4;
}
.desktop-menu h1{
    font-size:1.5625rem;
    font-weight: 700;
}

.hamburger{
    display: none;
}
.Mobile-menu{
    display: none;
}
.mobile-menu-actions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.btn-primary, .btn-secondary{
    display: inline-block;
    background-color: #5f6ad4;
    padding:20px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid white;
}
.hero{
      display: flex;
    height: calc(100vh - 4.5rem);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)),
    url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-min-an-1234035.jpg') bottom /cover no-repeat;
     
}
.hero.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.hero h1{
    font-size: 5rem;
    font-weight: 400;
    color:white;
    text-align: center; 
    padding-top: 7rem;
}

.btn{
    padding: 0.9375rem 3.75rem;
    font-size: 1.25rem;
    background-color: #5f6ad4;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: backgroun-color 0.3s ease;
}
.btn:hover{
    background-color: #fafaf6;
    color: #000;

}

.yoga{
    background: linear-gradient(rgba(243, 234, 234, 0.1),rgba(233, 226, 226, 0.3)),
    url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2121066.jpg') no-repeat;
    height: 90vh;
    margin-top: 6rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: flex-end;
}

.yoga .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 728px;
    margin-inline: auto;
    margin-bottom: 7rem;
    color: white;
}

.yoga .content h1{
    font-size: 3.125rem;
    font-weight:700 ;
    text-align: center;
}

.yoga .content p{
     font-size: 1.5625rem;
    font-weight:700 ;
    text-align: center;
}
.perfect-condition{
    height: 438px;
     background: linear-gradient(rgba(243, 234, 234, 0.1),rgba(233, 226, 226, 0.3)),
    url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg')  center / cover  no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block:2rem;
    background-attachment: fixed;
}
.perfect-condition h2{
    color: #2a2a2a;
    font-size: 3.125rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.perfect-condition p{
    color: #2b2b2b;
    font-size: 1.25rem;
    font-weight: 400;
}

.yoga-classes{
    height: 355.188px;
     background: linear-gradient(rgba(243, 234, 234, 0.1),rgba(233, 226, 226, 0.3)),
    url('https://images.unsplash.com/photo-1758599879161-aa3d234ecb74?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHlvZ2ElMjBwaWN0dXJlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=400')  center / cover  no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block:2rem;
    margin-block: 5rem;
}
.yoga-box{
    height: 45%;
    border-radius: 10px;
    border: 2px solid #5f6ad4;
    background-color: #dfdfd8;
    color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
footer{
    background-color: #2a2a2a;
    color: white;
    font-size: 1.25rem;
    padding: 2rem;
}


/* desk-top and tablets */
@media(max-width: 768px){
    .desktop-menu{
        display: none;
    }

    header{
        height: 0;
    }

   i{
     z-index: 11111;
   }

    .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #5f6ad4;
        color: #ffff;
        width: 50px;
        height: 50px;
        top: 5%;
        right: 5%;
        border-radius: 50%;
        font-size: 2rem;
    }
    .Mobile-menu{
        display: flex;
        justify-content: center;
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0;
        color: white;
        transform: translateX(0%);
    }

    .Mobile-menu[data-visible="false"]{
        transform: translateX(100%);
    }

    .hamburger i[data-visible="true"]{
        display: block;
    }
    
    .hamburger i[data-visible="false"]{
        display:none;
    }

    .Mobile-menu .navigation{
        display: flex;
       margin-top: 5rem;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    .Mobile-menu .navigation .menu-link{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .Mobile-menu h1{
        font-size: 2.3125rem;
        font-weight: 700;
        border-bottom: 1px solid white;
        padding: 10px;
        /* color: white; */
    }

    .Mobile-menu a{
        color: #fff !important;
    }
    .hero{
        height: 100vh;
    }

    .hero h1 {
        font-size: 3.0625rem;  
    }
   .yoga .content{
    margin-bottom: 2rem;
   }
    .yoga .content h1{
        font-size:2.125rem;
    }
    .yoga .content p{
        font-size: 1.25;
        /* padding: 1rem; */
    }
    .info-box{
        grid-template-columns: 1fr;
    }
    .perfect-condition h2{
    font-size: 2.125rem;  
}
.perfect-condition p{
    font-size: 1.125rem; 
}
.yoga-box{
    flex-direction: column;
    height: 70%;
}
.yoga-box h2{
    font-size: 1.3125rem;
    font-weight: 400;
    padding: 1rem;
}

}
.info-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-block: 6rem;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}
.box img{
    border-radius:0.9375rem;
}
.box h1{
    font-size: 1.5625rem;
    color:#2b2b2b;
    font-weight: 400;
}
.box p{
    color: #646464;
    font-size: 1.25rem;
    font-weight: 400;
}